html,
body,
main {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
}

h2 {
  margin: 0;
  font-size: 40px;
}

header {
  margin: 2rem 0 3rem -3rem;
}

.bg-grey {
  background-color: #ddd;
}

.main-content {
  margin: 4rem auto 0 auto;
}

.main-content,
.recent-header {
  justify-content: space-between;
}

.main-content,
.recent-header,
.inputs {
  display: flex;
}

.recent-scores {
  width: 55%;
}

.add-score {
  width: 40%;
}

.add-score h2 {
  text-align: center;
}

button {
  background-color: white;
}

button,
.scores,
input[type=text] {
  border: 0.2rem solid black;
}

button:hover {
  cursor: pointer;
}

.scores {
  margin-top: 2rem;
}

.score {
  display: flex;
  padding: 5px 10px;
}

.inputs {
  flex-direction: column;
  margin: 2rem 0 1.5rem 0;
}

.input-score {
  margin-top: 1.5rem;
}

input[type=text] {
  padding: 0;
  outline: none;
  height: 2rem;
  font-size: 16px;
  background-color: inherit;
}

.submit-btn {
  text-align: right;
}

#submit-btn,
#refresh-btn {
  width: 30%;
  padding: 0.5rem 1rem;
}
